
/* Woocommer */
.widget_product_search, .widget_product_categories, .widget_products, .widget_product_tag_cloud, .widget_text {
    margin-bottom: 45px;
}
.woocommerce a.button.btn-main-color {
    background: #ebcd1e;
}
.woocommerce a.button.btn-main-color:hover {
    background: #333;
    color: #fff;
}
.woocommerce a.button.icon-btn-left {
    text-align: left;
}
.woocommerce a.button.ot-btn {
    font-size: 12px;
    color: #333;
    height: 40px;
    line-height: 40px;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.6s ease 0s;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}
.woocommerce .star-rating span {
    margin-left: 0;
    color: #ffb636;
}
.woocommerce div.product span.price del {
    opacity: 1;
}
.woocommerce span.onsale {
    position: absolute;
    min-height: 20px;
    min-width: 52px;
    font-weight: 400;
    width: 52px;
    height: 20px;
    background: #df7154;
    color: #333;
    text-transform: uppercase;
    top: 10px;
    right: 14px;
    left: auto;
    padding: 0;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
}
.woocommerce .woocommerce-ordering select {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 24px 9px 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    color: #4B5468;
    width: 200px;
    transition: all 0.6s ease 0s;
}
.woocommerce .woocommerce-ordering select option {
    padding: 8px 12px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}
.woocommerce ul.product_list_widget li img {
    width: 80px;
    height: auto;
    display: block;
    float: left;
    margin-right: 0px;
    margin-left: 0;
}
.widget_products ins {
    text-decoration: none;
}
.woocommerce ul.product_list_widget {
    width: 100%;
    float: left;
    padding-left: 35px;
    margin-bottom: 45px;
}
.product .widget_text .textwidget {
    padding-left: 0;
}
.woocommerce nav.woocommerce-pagination ul {
    border: none;
    margin: 20px 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    border-right: none;
}
.woocommerce-pagination li {
    display: block;
    float: left;
    line-height: 40px;
}
.woocommerce nav.woocommerce-pagination ul > li > a {
    margin: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    color: #555;
    border: 1px solid #e5e5e5;
}
.woocommerce nav.woocommerce-pagination ul > li > span.current {
    margin: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #333;
    color: #fff;
    background: #333;
}
.woocommerce .star-rating:before {
    color: #ffb636;
}
.product-single.type-product .product_title  {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;
    line-height: 1.2;
    letter-spacing: 2px;
}
.woocommerce div.product .product_title {
    margin-top: 20px;
}
.product-single.type-product button.button.alt.single_add_to_cart_button {
    background: #ebcd1e;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    margin-bottom: 0;
    transition: all 0.6s ease 0s;
    font-family: 'Montserrat', sans-serif;
}
.product-single.type-product .quantity input {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 15px;
    border: none;
    height: 40px;
    line-height: 40px;
    width: 80px;
    font-weight: bold;
    margin-right: 15px;
    padding: 0 10px;
    display: inline-block;
}
.product-single.woocommerce .quantity .qty {
    width: 80px;
    text-align: left;
}
.product-single.type-product .related .products .product-detail del .amount{
    color: #777;
    font-size: 14px;
    padding-right: 15px;
    font-weight: normal;
}
.product-single.type-product .related .products .product-detail ins .amount {
    font-weight: 400;
}
.product-single .summary .price .amount {
    font-size: 24px;
    font-weight: bold;
}
.product-single .summary .price del .amount {
    font-size: 15px;
    font-weight: 400;
}
.product-single.woocommerce div.product p.price del {
    opacity: 1;
    font-size: 14px;
}
.product-single.type-product .price ins .amount {
    font-size: 15px;
    font-weight: 400;
    color: #222222;
    text-decoration: none;
}
.woocommerce ul.product_list_widget li {
    padding: 0;
}
.product_list_widget .star-rating {
    margin-bottom: 0;
    margin-top: 5px;
}
.product-single {
    width: 100%;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin-bottom: 0;
}
.woocommerce div.product-single p.price del {
    opacity: 1;
}
.woocommerce div.product-single .product_meta {
    display: none;
}
.woocommerce div.product-single form.cart {
    margin-top: 20px;
}
.product-single.type-product button.button.alt.single_add_to_cart_button:hover, .product-single.type-product button.button.alt.single_add_to_cart_button:focus {
    background: #333;
    color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #888;
    border: none;
    padding-right: 30px;
    padding-left: 0;
    padding: 15px 50px 15px 0;
    font-weight: bold;
}
.woocommerce div.product .woocommerce-tabs .entry-content h2 {
    display: none;
}
.woocommerce div.product .woocommerce-tabs .entry-content{
    border: 1px solid #ededed;
    width: 100%;
    float: left;
    padding: 25px;
    padding-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    background: #ebe9eb;
    border: 1px solid #e4e1e3;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    margin: 0;
    padding: 3px;
    width: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin-left: 65px;
    padding: 1em;
    border: 1px solid #e4e1e3;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 15px;
    margin-bottom: 15px;
    color: #666;
}
.woocommerce #reviews h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.woocommerce p.stars a {
    color: #ffb636;
}
.woocommerce #review_form #respond textarea, .woocommerce #review_form #respond input {
    border: 1px solid #e4e1e3;
}
.woocommerce #review_form #respond .form-submit input {
    font-size: 12px;
    color: #333;
    height: 40px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 15px;
    outline: none;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background-color: #ebcd1e;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.woocommerce #review_form #respond .form-submit input:hover {
    background: #333;
    color: #fff;
}
.product-single .related .products .product-detail .amount{
    color: #ebcd1e;
    font-size: 15px;
}
.woocommerce-cart .widget .search-form, .woocommerce-checkout .widget .search-form{
    padding-left: 0;
}
.woocommerce-cart .widget_product_categories ul, .woocommerce-cart .widget_products ul, .woocommerce-cart .sidebar .tagcloud, .woocommerce-cart .sidebar .textwidget,
.woocommerce-checkout .widget_product_categories ul, .woocommerce-checkout .widget_products ul, .woocommerce-checkout .sidebar .tagcloud, .woocommerce-checkout .sidebar .textwidget {
    padding-left: 0;
    list-style: none;
}
.woocommerce-cart .product_list_widget li, .woocommerce-checkout .product_list_widget li {
    width: 100%;
}
.woocommerce-cart .widget_product_categories ul li a, .woocommerce-checkout .widget_product_categories ul li a {
    color: #555;
    line-height: 29px;
    font-size: 15px;
    margin-left: 15px;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.woocommerce-cart .widget_product_categories ul li:before, .woocommerce-checkout .widget_product_categories ul li:before {
    content: "\f105";
    position: absolute;
    font-family: FontAwesome;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.woocommerce-cart .widget_product_categories ul li .count, .woocommerce-checkout .widget_product_categories ul li .count {
    float: right;
    background: none;
    color: #999;
    font-size: 15px;
    font-weight: 400;
}
.woocommerce-cart .widget_product_categories ul li:hover a, .woocommerce-checkout .widget_product_categories ul li:hover a {
    color: #ebcd1e;
}
.woocommerce-cart .widget_product_categories ul li, .woocommerce-checkout .widget_product_categories ul li {
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    margin-bottom: 8px;
}
.woocommerce-cart .widget_product_categories ul li:hover, .woocommerce-checkout .widget_product_categories ul li:hover {
    padding-left: 10px;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 80px;
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    height: 80px;
}
.woocommerce-cart .woocommerce table.shop_table td {
    padding: 10px;
} 
.woocommerce-cart .woocommerce .quantity .qty {
    background-color: #f2f2f2;
    color: #666666;
    font-size: 15px;
    border: none;
    padding: 10px 10px;
    width: 80px;
    font-weight: normal;
    text-align: left;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 200px;
    margin-right: 25px;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    height: 39px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 5px;
    background: #f2f2f2;
    border: 0;
    outline: none;
    color: #333;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 15px;
    color: #fff;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 15px;
    outline: none;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background: #ebcd1e;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background: #333;
    color: #fff;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: #fff;
} 
.cart-collaterals {
    border: none;
    padding: 0;
}
.cart_totals.calculated_shipping h2 {
    font-size: 24px;
    margin-bottom: 25px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th {
    padding: 20px 12px;
    font-weight: 400;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    background-color: #76c900;
    font-size: 15px;
    color: #fff;
    height: 40px;
    line-height: 38px;
    margin-bottom: 15px;
    padding: 0 25px;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background: #333;
    color: #fff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #ebcd1e;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border-color: #a00;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
    color: #666;
    height: 40px;
    outline: medium none;
    padding: 10px 10px;
    transition: border 0.4s ease 0s;
    width: 100%;
}
.product-single .comment-respond textarea {
    margin-top: 0;
    margin-bottom: 0;
}
.related .product-item .product-detail h3, .products .product-item .product-detail h3 {
    margin-bottom: 10px;
}
.single-product .site-main {
    padding-bottom: 50px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    right: 0px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0 0 0px 0px;
    box-shadow: 0px 0px 0 #ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 0px solid #d3ced2;
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 0px;
    content: " ";
}
.woocommerce-page .products li.product-category {
    float: left;
    padding: 0 15px;
    position: relative;
    width: 33.33%;
    list-style: none;
}
.woocommerce-page .products li.product-category a h3{
    font-size: 18px;
}
/* */
.woocommerce div.product span.price {
    color: #222222;
    font-size: 14px;
    margin-bottom: 10px;
}
.woocommerce a.add_to_cart_button i{
    display: none;
} 
.woocommerce .products .star-rating {
    margin: 0 auto;
    vertical-align: middle;
    margin-bottom: 15px;
}
.woocommerce nav.woocommerce-pagination {
    text-align: left;
    padding-top: 30px;
}
.woocommerce-page .woocommerce-pagination ul.page-numbers li:first-child .page-numbers {
    margin-left: 0;
} 
.architect-sorting {
    float: left;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.woocommerce div.product p.price {
    color: #222222;
    line-height: 25px;
    font-size: 15px;
}
.product-single .summary .price .amount {
    font-size: 15px;
    font-weight: 400;
}
.woocommerce .quantity .qty {
    text-align: left;
}
.woocommerce-page div.product div.images {
    width: auto;
    float: none;
}
.related h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.related {
    padding-bottom: 60px;
}
.woocommerce div.product.product-item {
    margin-bottom: 45px;
}
.woocommerce .related .products .add_to_cart_button {
    display: inline-block;
    margin-top: 0;
}
.woocommerce .related div.product span.price {
    display: block;
}
.woocommerce .coupon input.button {
    background: transparent;
    border: 2px solid #e6e6e6;
    color: #333;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.woocommerce .coupon input.button:hover {
    border-color: #ebcd1e;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 200px;
    margin-right: 25px;
}
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    background-color: transparent;
    border: 2px solid #e6e6e6;
    color: #333;
    font-size: 12px;
    height: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]:hover {
    border-color: #ebcd1e;
    background: transparent;
}
.woocommerce-cart .woocommerce input.button {
    background-color: transparent;
    border: 2px solid #e6e6e6;
    color: #333;
    font-size: 12px;
    height: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.woocommerce-cart .woocommerce input.button:hover {
    border-color: #ebcd1e;
    background: transparent;
}
.woocommerce a.button.alt {
    background: #ebcd1e;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.woocommerce a.button.alt:hover {
    background: #333;
    color: #fff;
}
.woocommerce table.shop_table th {
    font-weight: normal;
    padding: 8px;
}
.product-remove a.remove {
    vertical-align: middle;
    margin: 0 auto;
}
.cart_totals.calculated_shipping h2 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart_totals table.shop_table tbody tr.cart-subtotal th {
    font-weight: 400;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
}
.mini_cart_item .img-thumb a {
    padding: 0;
}
.price ins {
    text-decoration: none;
}
.single-product span.onsale {
    right: 29px;
}

.single-product .related span.onsale {
    right: 14px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    display: inline-block;
}
.woocommerce .cart_list.product_list_widget .product-detail a.remove:hover, .woocommerce-cart .cart_list.product_list_widget .product-detail a.remove:hover {
    color: #ebcd1e!important;
}
.woocommerce-cart .cart_list.product_list_widget .product-detail a.remove {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 12px;
    color: #6e6e6e!important;
    font-size: 20px;
}
.products-style {
    display: inline-block;
}
.woocommerce .cart_item a.remove:hover {
    color: red!important;
}
.woocommerce div.product span.price ins {
    font-weight: 400;
}