#mainmenu .logo{
    width: 140px !important;
}
.footer-widget a{
    color: #999 !important;
}
.skrollable-after {
    background: rgba(10, 10, 10, 0.9) !important;
    transition: 0.5s !important;
}
.main-navi li:last-child{
    background: #ebcd1e !important;
    border-radius: 44px !important;
}
.materiales-home {
    padding: 40px 0 0 0;
}
.home-acabados-right{
    padding-left: 0px !important;
}
.home-acabados-left{
    padding-left: 120px !important;
    padding-right: 80px !important;
    padding-top: 170px !important;
}
.home-acabados-left h2,
.home-acabados-left h4,
.home-acabados-left p,
.home-acabados-right .home-acabados-right-down h2,
.home-acabados-right .home-acabados-right-down h4,
.home-acabados-right .home-acabados-right-down p {
    color: white !important;
}

.home-acabados-right .home-acabados-right-up h2,
.home-acabados-right .home-acabados-right-up h4,
.home-acabados-right .home-acabados-right-up p {
    color: black !important;
}
.home-acabados-left h2,
.home-acabados-left h4,
.home-acabados-right h2,
.home-acabados-right h4{
    font-weight: 300 !important;
}
.home-acabados-left h4,
.home-acabados-right h4{
    font-style: italic !important;
    padding: 10px !important;
}